@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .border-gradient-r {
    border-right: 4px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #00F0FF, 
      #8A00FF,
      #FF006B
    ) 1 100%;
}

.dark .border-gradient-l {
    border-left: 4px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #00F0FF, 
      #8A00FF,
      #FF006B
    ) 1 100%;
}

.dark .hover .navbar-button-text {
    background: -webkit-linear-gradient(#6153FF, #FB3CFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .logo-text {
    background: -webkit-linear-gradient(#309CFF, #BD00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .logo {
    background-size: contain;
    background-image: url("/vogi_logo_neon.png");
}

.logo {
    background-image: url("/vogi_logo_dark.png");
}